<div class="MH-body">
  <h3>Check the type of your desired estate: (checkbox demo)</h3>
  <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="House"> House (pre-checked)
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="Apartment"> Apartment
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="Condo"> Condo
    </label>
  </div>
  <p class="select-result">Select Result:</p>
  <pre>{{model}}</pre>
</div>

<div class="MH-body">
  <h3>Tell us about more details: (dropdown demo)</h3>
  <form role="form">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="location">Location</label>
          <select class="form-control MH-select">
            <option>Tasmania</option>
            <option>Yogyakarta</option>
            <option>Tokyo</option>
            <option>Busan</option>
            <option>Taipe</option>
          </select>
        </div>
        <div class="form-group">
          <label for="maxprice">Max Price</label>
          <select class="form-control MH-select">
            <option>$8,200</option>
            <option>$11,700</option>
            <option>$14,150</option>
            <option>$21,110</option>
          </select>
        </div>
      </div>
      <!-- break -->
      <div class="col-3">
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control MH-select">
            <option>For Sale</option>
            <option>For Rent</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bathroom">Bathroom</label>
          <select class="form-control MH-select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
      <!-- break -->
      <div class="col-3">
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control MH-select">
            <option>Villa</option>
            <option>Recident</option>
            <option>Commercial</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bedroom">Bedroom</label>
          <select class="form-control MH-select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
      <!-- break -->
      <div class="col-3">
        <div class="form-group">
          <label for="minprice">Min Price</label>
          <select class="form-control MH-select">
            <option>$4,200</option>
            <option>$6,700</option>
            <option>$8,150</option>
            <option>$11,110</option>
          </select>
        </div>
        <div class="form-group">
          <label for="submit">&nbsp;</label>
          <input type="submit" name="submit" value="Search" class="btn btn-success btn-block" />
        </div>
      </div>
    </div>
  </form>
</div>

<div class="MH-body">
  <h3>Search Result: (Media-card demo)</h3>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="property-container">
        <div class="property-image">
          <img src="../../assets/images/img06.jpg" alt="mikha real estate theme">
          <div class="property-price">
            <h4>Residential</h4>
            <span>$800,000</span>
          </div>
        </div>
        <div class="property-features">
          <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
          <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
          <span><i class="fa fa-male"></i> 2 Bath</span>
          <span><i class="fa fa-car"></i> 2 Garages</span>
        </div>
        <div class="property-content">
          <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="property-footer">
          <a href="#" title="Add to favorite"><i class="fa fa-heart"></i></a>
          <a href="#" title="Contact Agent"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <!-- break -->

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="property-container">
        <div class="property-image">
          <img src="../../assets/images/img07.jpg" alt="mikha real estate theme">
          <div class="property-price">
            <h4>Residential</h4>
            <span>$800,000</span>
          </div>
        </div>
        <div class="property-features">
          <span><i class="fa fa-home"></i> 6,000 m<sup>2</sup></span>
          <span><i class="fa fa-hdd-o"></i> 3 Bed</span>
          <span><i class="fa fa-male"></i> 2 Bath</span>
          <span><i class="fa fa-building-o"></i> 2 Floors</span>
        </div>
        <div class="property-content">
          <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="property-footer">
          <a href="#" title="Add to favorite"><i class="fa fa-heart"></i></a>
          <a href="#" title="Contact Agent"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <!-- break -->

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="property-container">
        <div class="property-image">
          <img src="../../assets/images/img08.jpg" alt="mikha real estate theme">
          <div class="property-price">
            <h4>Residential</h4>
            <span>$800,000</span>
          </div>
        </div>
        <div class="property-features">
          <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
          <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
          <span><i class="fa fa-male"></i> 2 Bath</span>
          <span><i class="fa fa-building-o"></i> 1 Floor</span>
        </div>
        <div class="property-content">
          <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="property-footer">
          <a href="#" title="Add to favorite"><i class="fa fa-heart"></i></a>
          <a href="#" title="Contact Agent"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <!-- break -->
  </div>
</div>
