<div class="MH-detailspage">
  <div>
    <app-demo1-carousel></app-demo1-carousel>
  </div>
  <h4>Detailed Description</h4>
  <div class="row">
    <div class="col-8">
      <p>import a paragraph here.
        <br>
        Good tools make application development quicker and easier to maintain than if you did everything by hand.
        <br>
        The Angular CLI is a command line interface tool that can create a project, add files, and perform a variety of ongoing development tasks such as testing, bundling, and deployment.
        <br>
        The goal in this guide is to build and run a simple Angular application in TypeScript, using the Angular CLI while adhering to the Style Guide recommendations that benefit every Angular project.
        <br>
        By the end of the chapter, you'll have a basic understanding of development with the CLI and a foundation for both these documentation samples and for real world applications.
        <br>
        And you can also download the example.
      </p>
    </div>
    <div class="col-4">
      <dl>
        <dt>Location / Region</dt>
        <dd>import details here ...</dd>
        <dt>Type</dt>
        <dd>import details here ...</dd>
        <dt>Bathroom</dt>
        <dd>import details here ...</dd>
        <dt>Bedroom</dt>
        <dd>import details here ...</dd>
        <dt>Price (NZD per week)</dt>
        <dd>import details here ...</dd>
      </dl>
    </div>
  </div>
  <div class="btn-group MH-btn-group">
    <button type="button" class="btn btn-secondary" (click)="onLoadHome()">Go to the home page</button>
    <button type="button" class="btn btn-secondary" (click)="onLoadSearch()">Go to the search page</button>
    <button type="button" class="btn btn-secondary" (click)="onLoadBooking()">Go to the booking page</button>
  </div>
</div>
