<div class="MH-searchpage">
  <app-search-condition></app-search-condition>
  <div class="row">
    <div class="col-4">
      <app-demo1-datepicker></app-demo1-datepicker>
    </div>
    <div class="col-4">
      <app-demo1-datepicker></app-demo1-datepicker>
    </div>
  </div>
  <button class="btn btn-success" (click)="onLoadSearchResult()">Search</button>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="btn-group MH-btn-group">
    <button type="button" class="btn btn-secondary" (click)="onLoadHome()">Go to the home page</button>
    <button type="button" class="btn btn-secondary" (click)="onLoadDetails()" disabled>Go to the details page</button>
  </div>
</div>
